<div class="container">
<p style="color: green"><%= notice %></p>

<h1 class="limbo text-center">Itinerarios</h1>

<div id="articles">
    
    <%= render 'article' %>

<div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
</div> 

</div><br>

<%= link_to "Nuevo Itinerario", new_article_path, class: 'btn btn-success' %>
</div>