<br><br>
<div class= "container text-center">
<h3 style="color: rgb(6, 15, 109)">Itinerario</h3>
</div>

<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Back to articles", articles_path %>
</div>
