<br>
<div class="container">
<h1 class="limbo text-center">Editar perfil</h1>

<%= render "form", user: @user %>

<br>


  <%= link_to "Ver usuario", @user %> |
  <%= link_to "Volver", users_path %>
</div>
