<div class="container">
<p style="color: green"><%= notice %></p>

<h1 class="limbo text-center">Usuarios</h1>
    <%= render 'users/user' %><br>

<%= link_to "Nuevo Usuario", new_user_path, class: "btn btn-success" %>
</div>