<div class="container">
<p style="color: green"><%= notice %></p>

<h1 class="limbo text-center">Asesores de viaje</h1>
    <%= render 'users/user' %><br>

  <div class="flickr_pagination">

    <%= will_paginate @users, :container => false %>
  </div>


</div>