
<div class= "jumb text-center" id="home-container">
<h1>Somos una empresa dedicada al diseño</h1>
<p class="text-white">Asi es como nos manejamos</p>


<p>
      <a class="btn btn-success" href="/articles">Ir a los artículos</a>
    </p>
    </div>