<p style="color: green"><%= notice %></p>

<div class= "jumb text-center" id="home-container">

<div class="tripz"></div>

<h1 class="didom">Itinerarios de viaje online</h1><br><br>

<p>
      <a class="btn btn-success" href="/signup">Registrate</a>
    </p>
</div>